<button mat-stroked-button>Hola Mundo</button>
<div class="example-card">
<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Shiba Inu</mat-card-title>
    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu" width="400px">
  <mat-card-content>
    <p>
      The Shiba Inu is the smallest of the six original and distinct
    <br>
      spitz breeds of dog from Japan. <br>
      A small, agile dog that copes very well with mountainous terrain,
      <br>
       the Shiba Inu was originally
      bred for hunting. <br>
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>
</div>
